<% include header %>

<% include sidebar %>

<div class="col-sm-5 text-left">

    <div class="list-group">
        <img src="../img/halaszle.jpg" alt="fishsoup" style="max-width:300px; max-height: 300px;">
        <h2>Fish soup</h2>
        <h3>Category: Soup</h3>
    </div>

    <h5>Ingredients: fish, soup</h5>

    <p><i>How to make it: </i><br/>Take the fish into the soup and heat it up</p>

    <a class="btn btn-danger" href=#>Delete</a>
    <a class="btn btn-info" href="/recipes/new">Edit</a>
    <a class="btn btn-warning" href="/recipes">Back</a>

</div>

<% include footer %>